.footer-bar
  padding 0 1em
  background $color-black-4

.footer-bar-bottom-inner
  background url('../images/pat-camouflage.jpg') repeat-x
  padding 0.5em 0
.footer-box
  padding 2em
  > .footer-box__title
    color white
    font-size $base-font-size
    margin 0 0 1em 0
    padding 1em 0 0.5em 0
    border-bottom 1px solid $color-black-1
.menu-footer
  a
    display : block
    color: white
.copy
  display block
  float right
  color white
  margin 0
  a
    color white
    display inline-block
    padding-bottom 0.15em
    margin-left 0.5em
    border-bottom 2px solid yellow
    &:hover
      text-decoration none