h1, h2, h3,h4, h5 , h6
  font-family $base-font-bolder
  text-transform uppercase
hr , .hr
  margin 1em 0
  border none
  width 100%
  display block

.stripped
  display block
  padding 0.28125em 0em
  background-image repeating-linear-gradient(135deg, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.2) 3px)
  background-size 4px 4px