main.main
  .row
    section.col-md-8.content.module
      #hero-slider.clearfix.rsMinW
        - for(var i=0; i<5; i++) {
          article.rsContent
            img(src="images/sixka-slide-test.jpg", alt="" class="rsImg")
            div(data-effect="" data-move-offset="10" data-move-effect="bottom"
              data-speed="200").rsABlock.hero-slider-fader
              .hero-slider-caption
                h4 Slider caption
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, voluptas, velit cum sint excepturi deleniti vitae molestiae tenetur vel doloribus id cupiditate vero. Eligendi tenetur vero, pariatur. Dolores, distinctio magni.
        - }
      .row.module
        .col-md-12
          .headline-hr
            .stripped
            h3.headline-hr__title Categoria
        .col-md-12
          .row.media
            .col-md-6.col-sm-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="" ,class="img-responsive")
            article.col-md-6.col-sm-6
              header.media__header.media__header--important: h2: a(href="") Título del Post aquí
              span.media__timestamps Publicado el 13 de Marzo, 2014
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque deleniti doloremque recusandae accusamus dolorum deserunt natus aperiam inventore, dolorem qui ex, sunt atque sit nulla. Aperiam quia blanditiis, reprehenderit asperiores.1
      .row.module
        .col-md-6.col-sm-6.col-xs-6
          .row
            .media
              .col-md-4.col-sm-4
                a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="" ,class="img-responsive")
              .article.col-md-8.col-sm-8
                header.media__header: h3: a(href="") Titulo del Post aquí
                span.media__timestamps Publicado el 13 de Marzo, 2014
        .col-md-6.col-sm-6.col-xs-6
          .row
            .media
              .col-md-4.col-sm-4
                a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="" ,class="img-responsive")
              .article.col-md-8.col-sm-8
                header.media__header: h3: a(href="") Titulo del Post aquí
                span.media__timestamps Publicado el 13 de Marzo, 2014
        .col-md-6.col-sm-6.col-xs-6
          .row
            .media
              .col-md-4.col-sm-4
                a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="" ,class="img-responsive")
              .article.col-md-8.col-sm-8
                header.media__header: h3: a(href="") Titulo del Post aquí
                span.media__timestamps Publicado el 13 de Marzo, 2014
        .col-md-6.col-sm-6.col-xs-6
          .row
            .media
              .col-md-4.col-sm-4
                a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="" ,class="img-responsive")
              .article.col-md-8.col-sm-8
                header.media__header: h3: a(href="") Titulo del Post aquí
                span.media__timestamps Publicado el 13 de Marzo, 2014
      .row.module
        .col-md-6.col-sm-6.col-xs-12
          .headline-hr
            .stripped
            h3.headline-hr__title Categoria
          .media
            a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            header.media__header.media__header--important: h2: a(href="") Titulo del Post
            span.media__timestamps Publicado el 13 de Marzo, 2014
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id odio veritatis vitae illo doloremque, dolore quisquam velit. Deleniti nobis enim odio aliquid aspernatur recusandae veniam nesciunt aliquam dolorem numquam.
          .row.media
            .col-md-4.col-sm-4.col-xs-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            .col-md-8.col-sm-8.col-xs-6
              header.media__header: h3: a(href="#") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014
          .row.media
            .col-md-4.col-sm-4.col-xs-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            .col-md-8.col-sm-8.col-xs-6
              header.media__header: h3: a(href="#") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014
          .row.media
            .col-md-4.col-sm-4.col-xs-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            .col-md-8.col-sm-8.col-xs-6
              header.media__header: h3: a(href="#") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014

        .col-md-6.col-sm-6.col-xs-12
          .headline-hr
            .stripped
            h3.headline-hr__title Categoria
          .media
            a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            header.media__header.media__header--important: h2: a(href="") Titulo del Post
            span.media__timestamps Publicado el 13 de Marzo, 2014
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id odio veritatis vitae illo doloremque, dolore quisquam velit. Deleniti nobis enim odio aliquid aspernatur recusandae veniam nesciunt aliquam dolorem numquam.
          .row.media
            .col-md-4.col-sm-4.col-xs-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            .col-md-8.col-sm-8.col-xs-6
              header.media__header: h3: a(href="#") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014
          .row.media
            .col-md-4.col-sm-4.col-xs-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            .col-md-8.col-sm-8.col-xs-6
              header.media__header: h3: a(href="#") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014
          .row.media
            .col-md-4.col-sm-4.col-xs-6
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
            .col-md-8.col-sm-8.col-xs-6
              header.media__header: h3: a(href="#") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014

    include sidebar