footer#footer
  .footer-bar
    .container
      .row
        .col-md-4.col-sm-4
          .footer-box
            h4.footer-box__title Menu
            ul.list-unstyled.menu-footer
              li.menu-footer__item: a(href="#") Inicio
              li.menu-footer__item: a(href="#") Nosotros
              li.menu-footer__item: a(href="#") Productos
              li.menu-footer__item: a(href="#") Blog
              li.menu-footer__item.menu-footer__item--last: a(href="#") Contacto
        .col-md-4.col-sm-4
          .footer-box
            h4.footer-box__title Artículos recientes
            ul.list-unstyled.menu-footer
              li.menu-footer__item: a(href="#") Inicio
              li.menu-footer__item: a(href="#") Nosotros
              li.menu-footer__item: a(href="#") Productos
              li.menu-footer__item: a(href="#") Blog
              li.menu-footer__item.menu-footer__item--last: a(href="#") Contacto
        .col-md-4.col-sm-4
          .footer-box
            h4.footer-box__title Categorías
            ul.list-unstyled.menu-footer
              li.menu-footer__item: a(href="#") Inicio
              li.menu-footer__item: a(href="#") Nosotros
              li.menu-footer__item: a(href="#") Productos
              li.menu-footer__item: a(href="#") Blog
              li.menu-footer__item.menu-footer__item--last: a(href="#") Contacto
  .footer-bar-bottom
    .container
      .row.clearfix
        .footer-bar-bottom-inner.clearfix
          .col-md-12.clearfix
            p.copy
              | Sixka 2014
              | Desarrollado por
              a(href="http://www.mucha-web.com/" target="_blank") Mucha-Web