main.main
  .row
    article.col-md-8.content.module
      .media
        header.media__header.media__header--important: h2: a(href="") Título del Post aquí
        span.media__timestamps Publicado el 13 de Marzo, 2014
        img(src="images/sixka-slide-test.jpg", alt="").img-responsive
        .media__text
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni repellat, accusantium porro mollitia ad. Deserunt explicabo sint iste deleniti porro quo reprehenderit ab laudantium cupiditate! Nostrum accusamus molestiae ut, eum?
          p Numquam dolore laborum, est, cumque mollitia qui repellat. Fugit beatae aliquam perferendis a praesentium sapiente mollitia excepturi laudantium harum dicta earum nam, illo eius, itaque at labore delectus quo similique.
          p Corporis doloremque sint sequi quibusdam quisquam libero beatae voluptatum laudantium, vero nulla ullam ipsam nemo, expedita id suscipit aspernatur quasi dolorum. Recusandae excepturi eius dolore nulla neque voluptatem dicta. Iusto!
          p Ullam asperiores, libero et expedita. Velit iste mollitia odit expedita similique, omnis cumque, vero eos. Tempora praesentium quo minus, cumque at, perspiciatis maiores hic optio reprehenderit dicta odit sint nam.
          p Perferendis vitae quos odio voluptas autem aut, assumenda quod, quia doloribus sed maiores molestiae cupiditate quisquam praesentium. Atque ipsa, error, commodi provident deserunt consequatur dolor cum labore soluta nemo porro!
        .stripped.media__tags
          ul.list-unstyled.sidebar-tags
            li Etiquetas :
            li.sidebar-tags__item: a(href="#", target="_blank") link
            li.sidebar-tags__item: a(href="#", target="_blank") link
            li.sidebar-tags__item: a(href="#", target="_blank") link
            li.sidebar-tags__item: a(href="#", target="_blank") link
        .media__sharer
          p plugins de compartir van aqui

      .headline-hr
        .stripped
        h3.headline-hr__title Artículos relacionados
        .row.module
          .col-md-6.col-sm-6.col-xs-6
            .media
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
              header.media__header.media__header--important: h2: a(href="") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id odio veritatis vitae illo doloremque, dolore quisquam velit. Deleniti nobis enim odio aliquid aspernatur recusandae veniam nesciunt aliquam dolorem numquam.
          .col-md-6.col-sm-6.col-xs-6
            .media
              a(href="#" class="media__image"): img(src="images/sixka-slide-test.jpg", alt="").img-responsive
              header.media__header.media__header--important: h2: a(href="") Titulo del Post
              span.media__timestamps Publicado el 13 de Marzo, 2014
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam id odio veritatis vitae illo doloremque, dolore quisquam velit. Deleniti nobis enim odio aliquid aspernatur recusandae veniam nesciunt aliquam dolorem numquam.
    include sidebar